{
  "openapi": "3.1.0",
  "info": {
    "title": "Fortuna Pay API",
    "description": "API para gerenciamento de cobranças Pix, envios e informações de usuário",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.fortunapay.com.br/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "description": "Obtém um token JWT a partir das chaves da API",
        "security": [], 
        "requestBody": {
          "description": "Credenciais da API (API Key e Secret)",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token JWT gerado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Muitas tentativas (limite de 10 por minuto)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pix/charges": {
      "post": {
        "description": "Cria uma nova cobrança Pix",
        "requestBody": {
          "description": "Dados para criar a cobrança Pix",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cobrança Pix criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao criar cobrança",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pix/send": {
      "post": {
        "description": "Envia um pagamento via Pix",
        "requestBody": {
          "description": "Dados para envio Pix",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pix enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao enviar Pix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pix/status/{transaction_id}": {
      "get": {
        "description": "Consulta o status de uma transação Pix",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da transação Pix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da transação retornado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixTransactionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao consultar status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pix/dict": {
      "get": {
        "description": "Consulta dados do DICT (Direct Participant Information)",
        "responses": {
          "200": {
            "description": "DICT retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixDictResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao consultar DICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/statements": {
      "get": {
        "description": "Retorna o extrato do usuário",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Data de início do extrato (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Data final do extrato (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extrato retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao consultar extrato",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "description": "Retorna os dados da conta do usuário autenticado",
        "responses": {
          "200": {
            "description": "Dados da conta retornados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserData"
                }
              }
            }
          },
          "400": {
            "description": "Erro ao consultar dados do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["api_key", "api_secret"],
        "properties": {
          "api_key": { "type": "string" },
          "api_secret": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "example": 3600 }
        }
      },
      "PixChargeRequest": {
        "type": "object",
        "required": ["amount", "payer"],
        "properties": {
          "amount": { "type": "number", "format": "float" },
          "payer": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "PixChargeResponse": {
        "type": "object",
        "properties": {
          "txid": { "type": "string" },
          "status": { "type": "string" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "PixSendRequest": {
        "type": "object",
        "required": ["txid", "recipient"],
        "properties": {
          "txid": { "type": "string" },
          "recipient": { "type": "string" },
          "amount": { "type": "number", "format": "float" }
        }
      },
      "PixSendResponse": {
        "type": "object",
        "properties": {
          "txid": { "type": "string" },
          "status": { "type": "string" },
          "processed_at": { "type": "string", "format": "date-time" }
        }
      },
      "PixTransactionStatus": {
        "type": "object",
        "properties": {
          "txid": { "type": "string" },
          "status": { "type": "string" },
          "amount": { "type": "number", "format": "float" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "PixDictResponse": {
        "type": "object",
        "properties": {
          "key_type": { "type": "string" },
          "bank_code": { "type": "string" },
          "owner_name": { "type": "string" }
        }
      },
      "StatementResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": { "type": "string", "format": "date-time" },
            "description": { "type": "string" },
            "amount": { "type": "number", "format": "float" },
            "type": { "type": "string" }
          }
        }
      },
      "UserData": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
